# enviroment
NODE_ENV=development

# database
DATABASE_URL="postgresql://user:password@localhost:5432/atd_workspace_monitor"
PORT=3000

# api keys
GOOGLE_API_KEY=""
SERP_API_KEY=""

# cron jobs
METRICS_AGGREGATION_CRON='0 2 * * *'
PAGESPEED_CRON='0 8,14,20 * * *'
